button {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  outline: 0;
}

/* Responsive toggle */

.toggle {
  display: block;
}

@media (min-width: 850px) {
  .toggle {
    display: none;
  }
}

.toggle span {
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
}

.toggle span:before,
.toggle span:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Toggle closed */

.toggle span:before {
  top: -8px;
}

.toggle span:after {
  top: 8px;
}

/* Toggle opened */

.sidebarclose.show {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  opacity: 0.1;
  background: #000;
}

.toggle span.toggle {
  display: none;
}


.toggle span.toggle:before {
  display: none;
}

.toggle span.toggle:after {
  display: none;
}

/* Sidebar */

.sidebar {
  background: #000;
  width: 75%;
  position: fixed;
  top: 0;
  left: -75%;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  padding-top: 90px;
  transition: all 0.3s ease-out;
  z-index: 100;
}

.sidebar ul {
  list-style: none;
  display: block;
}

.sidebar ul li {
  display:block;
}

.sidebar ul li a {
  padding: 8px 15px;
  font-size: 16px;
	color: #fff;
}

.sidebarshow {
  left: 0;
}
